################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/UniversePro/Debug
/src/UniversePro/Release
/src/UniversePro/x64
/.vs
/src/UniversePro/.vs/UniversePro
/src/CosmosPro/Debug
/src/CosmosPro/Release
/src/CosmosPro/x64
/src/MFCAppProxyEx/x64
/src/WinAppProxy/x64
/src/.vs/Creator/FileContentIndex
/src/.vs/Creator/v17
/.gitignore
